header {
    margin-bottom: 3em;
    margin-top: 3em;
}

body {
    background-color: #E9E9E9;
}

#home {
    text-decoration: none;
    color: black;
}

.logo {
    margin: 0;
}

.logo > h1 {
    margin: 0;
}

nav > a {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.feed > a {
    background-color: white;
    padding: 6px;
    text-decoration: none;
    color: black;
}

.typemark {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.blurb {
    font-size: 2em;

}


nav > a {
    background-color: white;
    padding: 1em;
}


.entry-content > p {
    background-color: white;
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-weight: normal;
}

.home {
    margin: 0;
}

.entry-title {
    font-size: 6em;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 6px;
}

img {
    width: 100%;
    height: auto;
}


article > img {
    border-radius: 5%;
}


.entry-content {
    max-width: 33rem;
}

.intro {
    margin-top: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0E0C01;
        color: whitesmoke;
    }

    a {
        color: #c3d1dada;
    }

    a.list:link {
        color: violet;
    }

    a.list:visited {
        color: rgb(213, 209, 209);
    }

    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }

    img:hover {
        opacity: 1;
    }
}